/*
font-family: 'Mulish', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

header h1 {
  font-size: 5.6rem;
  font-weight: 900;
  color: #02799D;
  line-height: 7.3rem;
}

header p {
  font-size: 3.2rem;
  font-weight: 600;
  color: #E1E1E6;
  line-height: 4rem;
}

body {
  background: #121214;
  font-size: 1.6rem;
  padding: 7.2rem 10.4rem;
  display: grid;
  justify-content: center;
  row-gap: 6.2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.0rem;
  row-gap: 4.4rem;
}

.card-wrapper {
  max-width: 37.0rem;
  min-width: 2rem;
  background: #202024;
  border: 2px solid #323238;
  border-radius: 8px;
  overflow: hidden;
}

.card-wrapper img {
  width: 100%;
}

.card-wrapper h2 {
  font-size: 3.6rem;
  font-weight: 900;
  color: #E1E1E6;
  padding: 2.5rem 3.2rem 0;
}

.card-wrapper p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #C4C4CC;
  padding: 2.4rem 3.2rem 3.2rem;
  text-align: justify;
}

@media(max-width: 768px) {
  body {
    justify-items: center;
    padding: 5rem 5rem 10rem;
  }
  
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}

@media(width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}